# Loops

In [2]:
l = [36,25,85,65,45,89,12]

In [3]:
l

[36, 25, 85, 65, 45, 89, 12]

# For Loop

In [ ]:
for <index> in <iterator>:
    print(index)
    print(index)
    print(index)
    print(index)
    print(index)

In [6]:
for i in range(0,5):       # Prints numbers in range 0 to 5
    print(i)

0
1
2
3
4

In [7]:
for i in range(0,7):
    print(l[i])

36
25
85
65
45
89
12

In [8]:
for i in range(0, len(l)):    # Improved version of above code
    print(l[i])

36
25
85
65
45
89
12

# Print the pattern

In [1]:
word = "India"

for letter in word:
    print(letter)

I
n
d
i
a

# Multiplication Table

In [2]:
n = 1005890

for i in range(1,11):
    print(f"{n} x {i} = {n*i}")

1005890 x 1 = 1005890
1005890 x 2 = 2011780
1005890 x 3 = 3017670
1005890 x 4 = 4023560
1005890 x 5 = 5029450
1005890 x 6 = 6035340
1005890 x 7 = 7041230
1005890 x 8 = 8047120
1005890 x 9 = 9053010
1005890 x 10 = 10058900

# Factorial of number

In [4]:
result = 1
n = 10

for i in range(1, n+1):
    result = result * i 
print(result)

3628800

# While Loop

In [ ]:
while <condition>:
    print()

In [5]:
n = 5
i = 1

while i <= n:
    print(" * " * 1)
    
    i = i+1

 *
 *
 *
 *
 *

In [23]:
n = 5
i = n

while i >= 1:
    print(" * " * i)
    
    i = i - 1

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

# Pattern Print

In [19]:
string = "PYTHON"
index = 0

while index < len(string):
    print(string[index])
    
    index += 1

P
Y
T
H
O
N

# Print the number from n to 1

In [ ]:
n = int(input("Enter a number:"))

while n >= 1:
    print(n)
    
    n -= 1

# Functions

In [ ]:
def func(): # define a function using def keyword

In [2]:
def greet():
    print("Hello!")

In [3]:
greet()

Hello!

In [4]:
result = greet()

Hello!

In [5]:
print(result)      # You have to return something

None

In [6]:
def test1():
    sum = 1 + 5
    
    return sum

In [8]:
test1()

6

In [9]:
result = test1()

In [10]:
print(result)

6

In [11]:
type(result)

int

In [12]:
def test3():
    
    li = [1,2,3]           # Creating a list in a function
    
    return li

In [13]:
result = test3()

In [14]:
print(result)

[1, 2, 3]

In [16]:
def test5():
    name = "PRAVIN"
    
    return name

In [17]:
test5()

'PRAVIN'

In [18]:
name = test5()

In [19]:
name

'PRAVIN'

In [21]:
test5() + " DOHALE"

'PRAVIN DOHALE'

In [28]:
def test6():
    
    return 36,58,14

In [29]:
test6()

(36, 58, 14)

In [30]:
a, b, c = test6()

In [31]:
test6()

(36, 58, 14)

In [32]:
a

36

In [33]:
b

58

In [34]:
c

14

In [35]:
def test7():
    
    result = 50/20*6+8-5
    
    return result

In [36]:
test7()

18.0

In [39]:
def test8():
    l = [1,2,3,4,5,6,7,8,9,10]
    
    sum = 0
    
    for i in l:
        sum += i
    
    return sum

In [40]:
test8()

55

In [48]:
def test9():
    
    l = [1,2,3,4,5,'INDIA', 'PUNE', 6,7,8,'RANI',9,10]
    
    sum = 0
    
    for i in l:
        
        if type(i) == int:    # if given type is integer only then it will execute the below code
            
            sum += i
    
    return sum

In [49]:
test9()

55

In [50]:
def test10():
    
    sum = 0
    
    for i in l:
        
        if type(i) == int:
            
            sum += i
    
    return sum

In [51]:
l = [1,2,3,4,5,'a','b','c',6,7,8,'d','e',9,'f',10]   # You can assign values here also and the output will be correct

In [52]:
test10()

55

In [53]:
def test11(mylist):
    
    sum = 0
    
    for i in mylist:
        
        if type(i) == int:
            
            sum += i
    
    return sum

In [54]:
l = [1,2,3,4,'a','b','c',5]

In [56]:
test11(mylist=l) # The name mentioned here in the brackets and the name passed in the function should be same that is "mylist"

15

In [57]:
def two_num_sum(a,b):
    
    sum = a + b
    
    return sum

In [60]:
a = 2
b = 3

result = two_num_sum(a,b)

In [61]:
result

5

In [64]:
p = 5
q = 10

two_num_sum(p,q)

15

In [65]:
two_num_sum(a=p, b=q)

15

In [66]:
len(l) # Put cursor inside the name of the fuction and type shift + tab to see the docstring

8

In [67]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [68]:
two_num_sum(a,b)

13

In [77]:
def two_num_sum(a, b):
    
    # You can add a docstring using below syntax
    
    """
    calculates the sum of two numbers 
    :params: 'a' is first number
    :params: 'b' is second number
    :return: additon of two numbers
    """
    
    sum = a + b
    
    return sum

In [79]:
two_num_sum(a, b)

13

In [80]:
def test12(mylist):
    
    li = []
    
    for i in mylist:
        
        if type(i) == str:
            
            li.append(i)
            
    return li

In [82]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [84]:
test12(l)

['a', 'b', 'c']

In [103]:
def test13(mylist: list()):
    
    """
    This function seperates the integer and str elements form the given list
    :params: list()
    :params: string list, integer list
    """
    
    li_int = []
    li_str = []
    
    for i in mylist:
        
        if type(i) == str:
            
            li_str.append(i)
            
        if type(i) == int:
            
            li_int.append(i)
    
    return li_str, li_int

In [104]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [105]:
list_str, list_int = test13(l)

In [107]:
list_str

['a', 'b', 'c']

In [108]:
test13(list_int)

([], [1, 2, 3, 4, 5])

In [110]:
list_int, list_str

([1, 2, 3, 4, 5], ['a', 'b', 'c'])